/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dc-main-color: #0282f9;
  --dc-button-bg-color: #797979;
  --dc-darker-color: #1c1c1c;
  --dc-navbar-color: #545b6b;
  --dc-transparent: transparent;
  --dc-lighter-color: white;
  --dc-lower-footer-bg-color: #303030;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* #endregion common */

/* #region utilities */

.container {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 0 1rem;
}

/* #endregion utilities */

/* #region header */

header {

  .container {

    .row {
      display: flex;
      justify-content: space-between;

      img {
        padding: 1.5rem 0;
      }

      ul {
        display: flex;
        column-gap: 2rem;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          border-bottom: 5px solid var(--dc-transparent);

          &:hover a {
            color: var(--dc-main-color);
          }

          &:hover {
            cursor: pointer;
            border-bottom: 5px solid var(--dc-main-color);
          }

          a {
            text-decoration: none;
            color: var(--dc-navbar-color);
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* #endregion header */

/* #region main */

main {

  background-color: var(--dc-darker-color);

  #jumbotron {
    min-height: 400px;
    background-image: url('/jumbotron.jpg');
  }

  #series {
    min-height: 500px;

    .container {
      position: relative;

      #button {
        display: inline-block;
        padding: 0.75rem 2rem;
        background-color: var(--dc-main-color);
        color: white;
        position: absolute;
        top: -25px;
        left: 0;
      }

      .row {
        padding: 3rem 1rem;
        row-gap: 2rem;

        .col-2 {

          .card {

            .img-container {
              overflow-y: hidden;
              aspect-ratio: 1;

              img {
                width: 100%;
              }
            }

            .title {
              margin: 1rem 0;
              color: var(--dc-lighter-color);
              font-size: 0.8rem;
            }
          }
        }
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
          padding: 0.75rem 5rem;
          margin: 0 0 2rem 0;
          background-color: var(--dc-main-color);
          color: var(--dc-lighter-color);
        }
      }
    }
  }
}

/* #endregion main */

/* #region banner */

#banner {

  background-color: var(--dc-main-color);

  .row {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: nowrap;

    .col-5 {
      width: calc((100% / 12) * 5);
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      img {
        height: 45%;
      }

      span {
        color: var(--dc-lighter-color);
        font-size: 0.75rem;
      }
    }
  }
}

/* #endregion banner */

/* #region footer */

footer {

  #upper {

    background-image: url('/dc-logo-bg.png'), url('/footer-bg.jpg');
    background-position: 78%;
    background-size: 30%, cover;
    background-repeat: no-repeat;

    .container {

      .row {
        display: flex;
        padding: 2rem 0 4rem 0;

        .col-1 {
          width: calc(100% / 12 * 1.5);

          h3 {
            color: var(--dc-lighter-color);
            padding: 1rem 0;
          }

          ul {
            padding: 0;
            list-style: none;

            li {
              font-size: 0.75rem;
              padding: 1px 0;

              a {
                color: var(--dc-button-bg-color);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  #lower {
    background-color: var(--dc-lower-footer-bg-color);

    .container {

      .row {
        display: flex;
        justify-content: space-between;

        padding: 2rem 0;

        #sign-up {
          background-color: transparent;

          color: var(--dc-lighter-color);
          text-decoration: none;
          border: 2px solid var(--dc-main-color);
          padding: 1rem;

        }

        ul {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          list-style: none;

          span {
            margin-right: 1rem;
          }

          li {
            display: inline-block;
            color: var(--dc-main-color);
            font-weight: 600;

            a {
              display: inline-block;
              border: none;
            }
          }
        }
      }
    }
  }
}

/* #endregion footer */