/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dc-main-color: #0282f9;
  --dc-button-bg-color: #797979;
  --dc-darker-color: #1c1c1c;
  --dc-navbar-color: #545b6b;
  --dc-transparent: transparent;
  --dc-lighter-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" 75;
}

/* #endregion common */

/* #region utilities */

.container {
  width: 70%;
  margin: 0 auto;
}

/* #endregion utilities */

/* #region header */

header {

  .container {

    .row {
      display: flex;
      justify-content: space-between;

      img {
        padding: 1.5rem 0;
      }

      ul {
        display: flex;
        column-gap: 2rem;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          border-bottom: 5px solid var(--dc-transparent);

          a {
            text-decoration: none;
            color: var(--dc-navbar-color);
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* #endregion header */

/* #region main */

main {

  height: 130px;
  background-color: black;

  .container {
    height: 100%;

    .row {
      height: 100%;
      display: flex;
      align-items: center;

      h2 {
        color: var(--dc-lighter-color);
      }
    }
  }


}

/* #endregion main */

/* #region banner */

#banner {

  background-color: var(--dc-main-color);

  .row {
    display: flex;
    justify-content: space-around;
    padding: 2rem;

    .col {
      width: calc(100% / 12 * 5);
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      img {
        height: 45%;
      }

      span {
        color: var(--dc-lighter-color);
        font-size: 0.75rem;
      }
    }
  }
}

/* #endregion banner */

/* #region footer */

footer {

  #upper {

    background-image: url('/dc-logo-bg.png'), url('/footer-bg.jpg');
    background-position: 80%;
    background-size: 30%, cover;
    background-repeat: no-repeat;

    .container {

      .row {
        display: flex;
        padding: 2rem 0 4rem 0;

        .col-1 {
          width: calc(100% / 12 * 1.5);

          h3 {
            color: var(--dc-lighter-color);
            padding: 1rem 0;
          }

          ul {
            padding: 0;
            list-style: none;

            li {
              font-size: 0.75rem;
              padding: 1px 0;

              a {
                color: var(--dc-button-bg-color);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  #lower {}
}

/* #endregion footer */